<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fragment-sideBar" id="side_Bar">
    <div id="comp_intr">
        <img src="/img/static/companyIntroduction_ver2.png" onclick="javascript:location.href='/comp-intro'">
    </div>
    <div id="comp_mypage">
        <img src="/img/static/mypage_ver2.png">

    </div>
    <div id="comp_hompage">
        <img src="/img/static/homepage_ver2.png"onclick="javascript:location.href='http://www.대봉산업기계.com'">

    </div>
    <div id="comp_board">
        <img src="/img/static/board_ver3.png" onclick="javascript:location.href='/contact/notice'">
    </div>
    <div id="comp_top">
        <img src="/img/static/Top_ver2.png" onclick="window.scroll(0,0)">
    </div>
</div>
</html>