<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header.html :: header"></div>
</head>
<body>
    <div th:replace="fragments/bodyheader.html :: bodyheader"></div>
    <div class="col mt-3 align-content-center" >
        <div class="col-sm-4 text-center"style="float: none;margin: 0 auto;">
            <form action="/members/new" th:object="${form}" method="post">

                <div class="d-flex">
                    <input class="form-control" placeholder="사용하실 아이디를 입력하세요"id="Member_ID"th:field="*{member_form_ID}">
                    <!--button class="btn btn-primary" type="reset" style="background-color: #86b7fe;font-family: 'Jua';width:100px;height: 50px">중복 확인</button -->

                </div>
                <input class="form-control mt-5" placeholder="사용하실 비밀번호를 입력하세요"id="Member_pwd"th:field="*{pwd}">
                <div class="d-flex mt-5">
                    <input class="form-control" placeholder="본인의 이름을 입력하세요"id="Member_name"th:field="*{name}">
                    <input class="form-control mx-2" placeholder="연락처를 입력하세요 010-xxxx-xxxx"id="Member_birth"th:field="*{phone_Num}">

                </div>
                <button class="btn btn-primary mt-5" type="submit" style="background-color: #86b7fe;font-family: 'Jua';width: 150px; height: auto">회원 가입 하기</button>



            </form>
        </div>
    </div>
</body>
</html>