
<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes, maximum-scale=1.0">


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <script src="https://kit.fontawesome.com/97e36fce94.js" crossorigin="anonymous"></script>
    <title>대봉산업에 오신 것을 환영합니다.</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/main.js"charset="UTF-8"></script>


</head>
<body>

    <div id="wrap">
        <nav th:replace="fragments/part/navi_bar.html :: fragment-naviBar"></nav>
        <div th:replace="fragments/part/bodyheader.html :: fragment-bodyheader"></div>


        <hr>
        <div id="category_part">

            <ul id="category_list">
                <li id="default_category">전체 보기</li>
                <li id="LeakDetector">누수 탐지기</li>
                <li id="SewerCleaner">하수관 청소기</li>
                <li id="Endoscope" style="margin-top:3px;">내시경</li>
                <li id="Tool" style="margin-top:3px;">공구</li>
                <li id="ETC" style="margin-top:3px;">기타</li>


            </ul>
            <select name="정렬" id="OptionalSort">
                <!--<option value="한줄씩 보기">한줄씩 보기</option>-->
                <option value="4개씩 보기">4개씩 보기</option>
            </select>

        </div>

        <ul id="shoplist">

            <!--li class="item">
                <div id="item_img">
                    <img src="img/LeakDetector.jpg">
                </div>
                <div id="item_text">
                    <a id="item_name">d</a></br>
                    <a id="item_price">d</a></br>
                    <button>바로가기</button>
                </div>
            </li-->

        </ul>

        <div th:replace="fragments/part/pager.html :: fragment-pager"></div>


    </div>

    <div th:replace="fragments/part/side_bar.html :: fragment-sideBar"></div>



</body>

</html>