<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>세부정보</title>
    <link rel="stylesheet" href="css/login.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
    <div id="bodyheader">
        <div id="mainHeaderbar">
            <img src="img/static/DB_LOGO.gif" id="logo">
            <span id="searchbar"><input type="text" placeholder="   제품을 검색하세요."></span>
            <a id="cursor" href="#">c</a>
            <img src="img/static/shoppingcart.png" id="scart" onclick="javascript:location.href='/shopping-list'">
        </div>
    </div>
    <hr>
    <div class="pd_container" id="pd_all_container">
        <div class="pd_container" id="pd_inner_container">
            <p>d</p>
            <div class="item_picture">
                <div class="item_image">
                    <img src="img/static/DB_LOGO.gif">
                </div>
            </div>
            <div class="item_information">
                <div class="item_info_detail">
                    <div class="item_info_head">
                        <h1 class="item_info_title">예시 제품</h1>
                    </div>
                    <div class="item_info_price">
                        <input type="hidden" id="original_price" value="39800">
                        <dl>
                            <dt>현재가</dt>
                            <dd>
                                38900원
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>