<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="_csrf" th:content="${_csrf.token}">
		<meta name="_csrf_header" th:content="${_csrf.headerName}">
		<title>로그인 페이지</title>
		<link rel="stylesheet" href="../css/login.css" type="text/css" media="all">
	</head>
	<body>
		<div class="form-container">
			<div class="login_header">
				<img id="db_logo" src="img/static/DB_LOGO.gif" alt="대봉산업기계">
			</div>
			<form class="login-form" action="/loginproc" method="post">

				<div class="account">
					<div class="account-item">
						<input type="text" placeholder="아이디" name="username">
					</div>
					<div class="account-item">
						<input type="password" name="password" placeholder="비밀번호">
					</div>
				</div>
				<div class="btn-login">
					<button type="submit" class="form_submit_button">
						로그인
					</button>
				</div>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			</form>
			<div class="acc_find">
				<ul class="find-list">
					<li><a href="#" id="id-find">아이디찾기</a></li>
					<li><a href="#" id="id-password">비밀번호찾기</a></li>
					<li><a id="join-navi" href="/join">회원가입</a></li>
				</ul>
			</div>

			<div class="social_type">
				<img id="kakaoicon" src="img/static/kakaoicon.png" alt="카카오 로그인">
			</div>
		</div>
	</body>
</html>