<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes, maximum-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="../css/mypage.css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/97e36fce94.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/97e36fce94.js" crossorigin="anonymous"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <script src="../js/mypage.js"></script>
</head>
<body>
<div id="wrap">
    <nav id="navi-bar">

        <a id="login-navi" href="/login"style="left:1200px;">로그인</a>
        <a id="join-navi" href="/join"style="left:1240px;">회원가입</a>
        <a id="mypage"style="left:1290px;">마이페이지</a>
        <a href="/contact"style="left:1350px;">FAQ</a>
        <a id="manager" href="/admin/manage" style="left:1380px;">관리자</a>
    </nav>
    <div id="bodyheader">
        <div id="mainHeaderbar">
            <img src="/img/static/DB_LOGO.gif" id="logo">
            <div id="searchbar"><input type="text" placeholder="   제품을 검색하세요."><img  id="searchicon"src="/img/static/searchicon.png"></div>
            <img src="/img/static/shoppingcart.png" id="scart" onclick="javascript:location.href='/shopping-list'">
        </div>
    </div>
    <hr>
    <button id="mypage_title_container" onclick="show_userinfo()">
        <div class="mypage_title_inner" id="mypage_userinfo_btn"><i class="fa-solid fa-user-gear"></i> <b>마이페이지</b></div>
    </button>
    <button id="mypage_title_container2" onclick="show_order()">
        <div class="mypage_title_inner" id="mypage_order_btn"><i class="fa-solid fa-receipt"></i> <b>주문내역</b></div>
    </button>
    <div class="mypage_container" id="mypage_userinfo">
        <div class="mypage_details_div_leftRight" style="margin-top: 35px">
            <div class="mypage_details_left_outer">
                <div class="mypage_details_inner">회원 ID</div>
            </div>
            <div class="mypage_details_right_outer">
                <div class="mypage_details_inner">
                    <input class="userinfoChange" id="members_username" type="text" readonly></input>
                </div>
            </div>
        </div>
        <div class="separation"></div>
        <div class="mypage_details_div_leftRight">
            <div class="mypage_details_left_outer">
                <div class="mypage_details_inner">비밀번호 변경</div>
            </div>
            <div class="mypage_details_right_outer">
                <div class="mypage_details_inner" id="members_password_outer">
                    <input class="userinfoChange" id="members_password" type="password"></input>
                </div>
            </div>
        </div>
        <div class="mypage_details_div_leftRight">
            <div class="mypage_details_left_outer">
                <div class="mypage_details_inner">비밀번호 확인</div>
            </div>
            <div class="mypage_details_right_outer">
                <div class="mypage_details_inner">
                    <input class="userinfoChange" id="members_password_chk" type="password"></input>
                </div>
            </div>
            <button class="mypage_details_change" onclick="">비밀번호 변경</button>
        </div>
        <div class="separation"></div>
        <div class="mypage_details_div_leftRight">
            <div class="mypage_details_left_outer">
                <div class="mypage_details_inner">이름</div>
            </div>
            <div class="mypage_details_right_outer">
                <div class="mypage_details_inner">
                    <input class="userinfoChange" id="members_name" type="text" readonly></input>
                </div>
            </div>
        </div>
        <div class="mypage_details_div_leftRight">
            <div class="mypage_details_left_outer">
                <div class="mypage_details_inner">전화번호</div>
            </div>
            <div class="mypage_details_right_outer">
                <div class="mypage_details_inner">
                    <input class="userinfoChange" id="members_phone_num" type="text"></input>
                </div>
            </div>
            <button class="mypage_details_change" onclick="">
                전화번호 변경
            </button>
        </div>
        <div class="mypage_details_div_leftRight">
            <div class="mypage_details_left_outer">
                <div class="mypage_details_inner">이메일</div>
            </div>
            <div class="mypage_details_right_outer">
                <div class="mypage_details_inner" id="members_email"></div>
            </div>
        </div>
        <div class="separation"></div>
        <div class="mypage_details_div_leftRight">
            <div class="mypage_details_left_outer">
                <div class="mypage_details_inner">우편번호</div>
            </div>
            <div class="mypage_details_right_outer">
                <div class="mypage_details_inner">
                    <input class="userinfoChange" id="members_postcode" type="text"></input>
                </div>
            </div>
            <button class="mypage_details_change" onclick="execDaumPostcode()">
                우편번호 찾기
            </button>
        </div>
        <div class="mypage_details_div_leftRight">
            <div class="mypage_details_left_outer">
                <div class="mypage_details_inner">주소</div>
            </div>
            <div class="mypage_details_right_outer" style="width: 25%">
                <div class="mypage_details_inner">
                    <input class="userinfoChange" id="members_address" type="text" style="width: 180px"></input>
                </div>
            </div>
            <div class= "mypage_details_right_outer" style="width: 25%; margin-left:20px">
                <div class="mypage_details_inner">
                    <input class="userinfoChange" id="members_detailAddress" type="text" style="width: 180px;"></input>
                </div>
            </div>
        </div>
        <div class="mypage_details_div_leftRight">
            <div class="mypage_details_left_outer">
                <div class="mypage_details_inner">참고항목</div>
            </div>
            <div class="mypage_details_right_outer">
                <div class="mypage_details_inner">
                    <input class="userinfoChange" id="members_ref_address" type="text"></input>
                </div>
            </div>
            <button class="mypage_details_change" onclick="">주소 변경</button>
        </div>
        <!--주문내역 버튼 추가-->
        <button id="submit_button">회원정보 변경</button>
    </div>
    <div class="mypage_container2" id="mypage_order" style="display: none">
        <div id="order_inner">
            <table id="shoppinglist">
                <tr>
                    <th class="mer_img">제품 이미지</th>
                    <th class="name">상품명</th>
                    <th class="count">수량</th>
                    <th class="price">가격</th>
                    <th class="total">합계</th>
                </tr>

                <!--
                <tr class="component">
                    <td class="mer_img"><img src="img/static/DB_LOGO.gif"></td>
                    <td class="name">대봉물건</td>
                    <td class="count">10</td>
                    <td class="price">1000</td>
                    <td class="total">합계</td>
                </tr>
                <tr class="component_btn">
                    <th class="confirm" colspan="2"><button>인수확인</button></th>
                    <th class="cancel" colspan="3"><button>결제취소</button></th>
                </tr>
                <div class="order_separation"></div>
                <tr class="component">
                    <td class="mer_img"><img src="img/static/DB_LOGO.gif"></td>
                    <td class="name">대봉물건</td>
                    <td class="count">10</td>
                    <td class="price">1000</td>
                    <td class="total">합계</td>
                    <td class="del"><i class="fa-solid fa-trash-can"></i></td>

                </tr>
                <tr class="component">
                    <td class="mer_img"><img src="img/static/DB_LOGO.gif"></td>
                    <td class="name">대봉물건</td>
                    <td class="count">10</td>
                    <td class="price">1000</td>
                    <td class="total">합계</td>
                    <td class="del"><i class="fa-solid fa-trash-can"></i></td>

                </tr>
                <tr class="component">
                    <td class="mer_img"><img src="img/static/DB_LOGO.gif"></td>
                    <td class="name">대봉물건</td>
                    <td class="count">10</td>
                    <td class="price">1000</td>
                    <td class="total">합계</td>
                    <td class="del"><i class="fa-solid fa-trash-can"></i></td>

                </tr>
                <tr class="component">
                    <td class="mer_img"><img src="img/static/DB_LOGO.gif"></td>
                    <td class="name">대봉물건</td>
                    <td class="count">10</td>
                    <td class="price">1000</td>
                    <td class="total">합계</td>
                    <td class="del"><i class="fa-solid fa-trash-can"></i></td>

                </tr>
                <tr class="component">
                    <td class="mer_img"><img src="img/static/DB_LOGO.gif"></td>
                    <td class="name">대봉물건</td>
                    <td class="count">10</td>
                    <td class="price">1000</td>
                    <td class="total">합계</td>
                    <td class="del"><i class="fa-solid fa-trash-can"></i></td>

                </tr>
                <tr class="component">
                    <td class="mer_img"><img src="img/static/DB_LOGO.gif"></td>
                    <td class="name">대봉물건</td>
                    <td class="count">10</td>
                    <td class="price">1000</td>
                    <td class="total">합계</td>
                    <td class="del"><i class="fa-solid fa-trash-can"></i></td>

                </tr>
                <tr class="component">
                    <td class="mer_img"><img src="img/static/DB_LOGO.gif"></td>
                    <td class="name">대봉물건</td>
                    <td class="count">10</td>
                    <td class="price">1000</td>
                    <td class="total">합계</td>
                    <td class="del"><i class="fa-solid fa-trash-can"></i></td>
                </tr>
                -->
            </table>
            <div id="totalprice">총 주문 가격: &nbsp<strong id="totalpricevalue">0</strong></div>

            <div id="btn_side">
                <div class="totalbt"id="doshop" onclick="goshop()">쇼핑하기</div>
                <div class="totalbt"id="doorder" onclick="goOrder()" style="width:150px;">전체 인수확인</div>
            </div>

        </div>
    </div>

    <div id="side_Bar">
        <div id="comp_intr">
            <img src="/img/static/companyIntroduction_ver2.png" onclick="javascript:location.href='/comp-intro'">
        </div>
        <div id="comp_mypage">
            <img src="/img/static/mypage_ver2.png">

        </div>
        <div id="comp_hompage">
            <img src="/img/static/homepage_ver2.png"onclick="javascript:location.href='http://www.대봉산업기계.com'">

        </div>
        <div id="comp_board">
            <img src="/img/static/board_ver3.png" onclick="javascript:location.href='/board'">
        </div>
        <div id="comp_top">
            <img src="/img/static/Top_ver2.png" onclick="window.scroll(0,0)">
        </div>
    </div>
    <div id="footer">
        <img src="/img/static/footer.png">
    </div>
    <div id='modal'>
        <div id='content'>
            <input type='button' value='X' class="close" id='btnClose' onclick="modalClose()"/>
            <label>결제 취소 사유를 입력하세요</label><br/>
            <textarea id='cancelReason' value='1234' ></textarea>
            <input type='button' value='제출하기' id='btndoCancel' onclick="dopayCancel()"/>
            <input type="hidden" id="paymentKey">
        </div>
</div>
</body>
</html>