<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes, maximum-scale=1.0">
    <link rel="stylesheet" href="../../css/ShopCart.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/97e36fce94.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../../js/ShopCart.js"charset="UTF-8"></script>
    <title>장바구니</title>
</head>
<body>
<div id="wrap">
    <nav th:replace="fragments/part/navi_bar.html :: fragment-naviBar"></nav>
    <div th:replace="fragments/part/bodyheader.html :: fragment-bodyheader"></div>
    <hr>
    <div id="main">
        <h1><i class="fa-solid fa-cart-shopping"></i></i>&nbsp장바구니</h1>
        <hr class="mainhr">
        <div id="main_body">
            <table id="shoppinglist">
                <tr>
                    <th class="mer_img">제품 이미지</th>
                    <th class="name">상품명</th>
                    <th class="count">수량</th>
                    <th class="price">가격</th>
                    <th class="total">합계</th>
                    <th class="del">삭제</th>
                </tr>
                <!--
                <tr class="component">
                    <td class="mer_img"><img src="img/static/DB_LOGO.gif"></td>
                    <td class="name">대봉물건</td>
                    <td class="count">10</td>
                    <td class="price">1000</td>
                    <td class="total">합계</td>
                    <td class="del"><i class="fa-solid fa-trash-can"></i></td>

                </tr>
                <tr class="component">
                    <td class="mer_img"><img src="img/static/DB_LOGO.gif"></td>
                    <td class="name">대봉물건</td>
                    <td class="count">10</td>
                    <td class="price">1000</td>
                    <td class="total">합계</td>
                    <td class="del"><i class="fa-solid fa-trash-can"></i></td>

                </tr>
                <tr class="component">
                    <td class="mer_img"><img src="img/static/DB_LOGO.gif"></td>
                    <td class="name">대봉물건</td>
                    <td class="count">10</td>
                    <td class="price">1000</td>
                    <td class="total">합계</td>
                    <td class="del"><i class="fa-solid fa-trash-can"></i></td>

                </tr>
                <tr class="component">
                    <td class="mer_img"><img src="img/static/DB_LOGO.gif"></td>
                    <td class="name">대봉물건</td>
                    <td class="count">10</td>
                    <td class="price">1000</td>
                    <td class="total">합계</td>
                    <td class="del"><i class="fa-solid fa-trash-can"></i></td>

                </tr>
                <tr class="component">
                    <td class="mer_img"><img src="img/static/DB_LOGO.gif"></td>
                    <td class="name">대봉물건</td>
                    <td class="count">10</td>
                    <td class="price">1000</td>
                    <td class="total">합계</td>
                    <td class="del"><i class="fa-solid fa-trash-can"></i></td>

                </tr>
                <tr class="component">
                    <td class="mer_img"><img src="img/static/DB_LOGO.gif"></td>
                    <td class="name">대봉물건</td>
                    <td class="count">10</td>
                    <td class="price">1000</td>
                    <td class="total">합계</td>
                    <td class="del"><i class="fa-solid fa-trash-can"></i></td>

                </tr>
                <tr class="component">
                    <td class="mer_img"><img src="img/static/DB_LOGO.gif"></td>
                    <td class="name">대봉물건</td>
                    <td class="count">10</td>
                    <td class="price">1000</td>
                    <td class="total">합계</td>
                    <td class="del"><i class="fa-solid fa-trash-can"></i></td>

                </tr>
                <tr class="component">
                    <td class="mer_img"><img src="img/static/DB_LOGO.gif"></td>
                    <td class="name">대봉물건</td>
                    <td class="count">10</td>
                    <td class="price">1000</td>
                    <td class="total">합계</td>
                    <td class="del"><i class="fa-solid fa-trash-can"></i></td>

                </tr>
                -->
            </table>

        </div>
        <div id="total">
            <div id="totalprice">총 가격: &nbsp<strong id="totalpricevalue">0</strong></div>

            <div id="btn_side">
                <div class="totalbt"id="doshop" onclick="goshop()">쇼핑하기</div>
                <div class="totalbt"id="doorder" onclick="goOrder()">결제하기</div>
            </div>

        </div>
    </div>
    <div th:replace="fragments/part/footer.html :: fragment-footer"></div>
    <div th:replace="fragments/part/side_bar.html :: fragment-sideBar"></div>
</div>



</body>
</html>