<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>아이템 조회</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../../js/view_item.js"></script>
    <link rel="stylesheet" href="../../css/view_item.css">
</head>
<body>
    <table id="itemlist">
        <tr>
            <th>제품 번호</th>
            <th>제품 이미지</th>
            <th>제품 이름</th>
            <th>제품 설명</th>
            <th>제품 가격</th>
            <th>제품군</th>
            <th>재고 수량</th>
            <th>제조사</th>
            <th>제조 국가</th>
            <th>제품 무게</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
    </table>

</body>
</html>