<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="../../css/view_order.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../../js/view_order.js"></script>
<head>
    <meta charset="UTF-8">
    <title>주문 조회</title>
    <ul id="orderlist">
        <li>
            <span><a class="order_id">주문번호</a><a class="username">고객 이름</a><a class="totalprice">총 가격</a><a class="orderdate">주문 날짜</a><a class="order_desc">주문 상세보기</a></span>
        </li>
    </ul>
</head>
<body>

</body>
</html>