<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/view_member.css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../../js/view_member.js"charset="UTF-8"></script>

    <title>회원 조회</title>
</head>
<body>
    <table id="memberlist">
        <tr>
            <th class="member_id">회원번호</th>
            <th class="name">이름</th>
            <th class="roleType">권한</th>
            <th class="아이디">ID</th>
            <th class="email">이메일</th>
            <th class="phone_num">전화번호</th>
            <th class="enrolldate">가입날짜</th></tr>
    </table>
</body>
</html>