<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>아이템 조회</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/view_item.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../../js/view_item.js"></script>

</head>
<body>
    <ul id="itemlist">
        <li id="nav"><span><a class="item_id">제품 번호</a><img class="itemimg_src">제품 이미지</img><a class="itemname">제품 이름</a><a class="item_desc">제품 설명</a><a class="item_price">제품 가격</a><a class="itemtype">제품군</a><a class="item_stock">재고 수량</a><a class="madecomp">제조사</a><a class="item_weight">제품 무게</a></span></li>
    </ul>
</body>
</html>