<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>결제 결과</title>
    <link rel="stylesheet" href="../../css/payend.css">
</head>
<body>
    <div id="wrap">
        <div th:text="${message}"></div>
        <span><button onclick='openPaylist()'>주문 내역 보기</button>&nbsp;<button onclick='openShop()'>쇼핑 계속하기</button></span>
        <script>
            function openPaylist(){
                window.opener.document.location.assign("/mypage") //추가바람
                window.close();
            }
            function openShop(){
                window.opener.document.location.assign("/")
                window.close();
            }
        </script>
    </div>
</body>
</html>