<!DOCTYPE html>
<html lang="en">
<head>
    <title>결제하기</title>
    <!-- 1. 스크립트 추가 -->
    <script src="https://js.tosspayments.com/v1"></script>
</head>
<script>
    var clientKey = 'test_ck_O6BYq7GWPVvBN91GaGVNE5vbo1d4' // 테스트용 클라이언트 키
    // 2. 초기화
    var tossPayments = TossPayments(clientKey)
</script>
<body>

    <script>

        var amount=window.opener.document.getElementById('totalprice');
        var orderId=window.opener.document.getElementById('orderId');
        var orderName=window.opener.document.getElementById('orderName');
        var customerName=window.opener.document.getElementById('customerName');
        console.log(Date.now());
        tossPayments.requestPayment('카드', { // 결제 수단 파라미터
            // 결제 정보 파라미터
            amount: parseInt(amount.innerText),
            orderId: orderId.value,
            orderName: orderName.value,
            customerName: customerName.value,
            successUrl: 'http://localhost:8080/payments/purchase/success',
            failUrl: 'http://localhost:8080/payments/purchase/fail',
        })
        /*
        tossPayments.requestPayment('카드', {
            amount: amount.innerText,
            orderId: orderId.value,
            orderName: orderName.value,
            customerName: customerName.value,
            successUrl: 'http://localhost:8080/payments/purchase/success',
            failUrl: 'http://localhost:8080/payments/purchase/fail',
        })

         */
    </script>
</body>
</html>