<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/97e36fce94.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="css/caseselector.css" type="text/css" media="all">
    <script src="js/caseselector.js"charset="UTF-8"></script>
    <title>유형 선택</title>
</head>
<body>
    <div class="parent-selector">
        <div id="faq" class="selector" onclick='faq()'>
            <i class="fa-regular fa-pen-to-square fa-2x"></i>
            </br>
            공지사항 및 알림
        </div>

        <div id="mail" class="selector" onclick='mail()'>
            <i class="fa-regular fa-envelope fa-2x"></i>
            </br>
            메일로 직접 문의하기
        </div>
    </div>
</body>
</html>