<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes, maximum-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>직접 문의하기</title>
    <script src="https://kit.fontawesome.com/97e36fce94.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/emailservice.css" type="text/css" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../js/emailservice.js"charset="UTF-8"></script>

</head>
<body>
<div id="wrap">
    <nav id="navi-bar">

        <a id="login-navi" href="/login">로그인</a>
        <a id="join-navi" href="/join">회원가입</a>
        <a id="mypage">마이페이지</a>
        <a href="/contact">FAQ</a>

    </nav>
    <div id="bodyheader">
        <div id="mainHeaderbar">
            <img src="../img/static/DB_LOGO.gif" id="logo">
            <div id="searchbar"><input type="text" placeholder="   제품을 검색하세요."><img  id="searchicon"src="../img/static/searchicon.png"></div>
            <img src="../img/static/shoppingcart.png" id="scart" onclick="javascript:location.href='/shopping-list'">
        </div>
    </div>

    <hr>

    <div id="main">
        <div id="MailService"><mark><i class="fa-regular fa-envelope"> 메일로 문의하기</i></mark>
        </div>
        <div id="form">
            제목</br></br>
            <input id="title" placeholder=" 제목을 입력해주세요"></br></br>
            내용</br></br>
            <textarea id="content" placeholder="내용을 입력해주세요"></textarea></br></br>
            <div id="phonenum">
                <!--아이디&nbsp;<input id="name" readonly>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->

                연락처<strong>(잘못 표기시 불이익이 발생할 수 있습니다 다시 한번 확인해주세요.)</strong>&nbsp;<input type='tel' id="phone1" maxlength="3"/> -
                <input type='tel' id="phone2" maxlength="4"/> -
                <input type='tel' id="phone3" maxlength="4"/>

            </div></br>
            <button onclick="javascript:location.reload()">취소</button>
            <button id="send">전송</button>

        </div>
        <div id="footer">
            <img src="../img/static/footer.png">
        </div>
    </div>

</div>



<div th:replace="fragments/part/side_bar.html :: fragment-sideBar"></div>




</body>
</html>