<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes, maximum-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>직접 문의하기</title>
    <script src="https://kit.fontawesome.com/97e36fce94.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/emailservice.css" type="text/css" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../js/emailservice.js"charset="UTF-8"></script>

</head>
<body>
<div id="wrap">
    <nav id="navi-bar">

        <a id="login-navi" href="/login">로그인</a>
        <a id="join-navi" href="/join">회원가입</a>
        <a id="mypage">마이페이지</a>
        <a href="/contact">FAQ</a>

    </nav>
    <div id="bodyheader">
        <div id="mainHeaderbar">
            <img src="../img/static/DB_LOGO.gif" id="logo">
            <div id="searchbar"><input type="text" placeholder="   제품을 검색하세요."><img  id="searchicon"src="../img/static/searchicon.png"></div>
            <img src="../img/static/shoppingcart.png" id="scart" onclick="javascript:location.href='/shopping-list'">
        </div>
    </div>

    <hr>

    <div id="main">
        <div id="MailService"><mark><i class="fa-regular fa-envelope"> 메일로 문의하기</i></mark>
        </div>
        <div id="form">
            제목</br></br>
            <input id="title" placeholder=" 제목을 입력해주세요"></br></br>
            내용</br></br>
            <textarea id="content" placeholder="내용을 입력해주세요"></textarea></br></br>
            <div id="phonenum">
                아이디&nbsp;<input id="name" readonly>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                연락처&nbsp;<input type='tel' id="phone1" maxlength="3"/> -
                <input type='tel' id="phone2" maxlength="4"/> -
                <input type='tel' id="phone3" maxlength="4"/>

            </div></br>
            <button onclick="javascript:location.reload()">취소</button>
            <button id="send">전송</button>

        </div>
        <div id="footer">
            <img src="../img/static/footer.png">
        </div>
    </div>

</div>



<div id="side_Bar">
    <div id="comp_intr">
        <img src="../img/static/companyIntroduction_ver2.png" onclick="javascript:location.href='/comp-intro'">
    </div>
    <div id="comp_mypage">
        <img src="../img/static/mypage_ver2.png"onclick="javascript:location.href='/my-page'">

    </div>
    <div id="comp_hompage">
        <img src="../img/static/homepage_ver2.png"onclick="javascript:location.href='http://www.대봉산업기계.com'">

    </div>
    <div id="comp_board">
        <img src="../img/static/board_ver2.png" onclick="javascript:location.href='/board'">
    </div>
    <div id="comp_top">
        <img src="../img/static/Top_ver2.png" onclick="window.scroll(0,0)">
    </div>
</div>




</body>
</html>