<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes, maximum-scale=1.0">
    <title>고객센터</title>
    <script src="https://kit.fontawesome.com/97e36fce94.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/viewnotice2.css" type="text/css" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../js/viewnotice2.js"charset="UTF-8"></script>

</head>
<body>
<div id="wrap">
    <nav id="navi-bar">

        <a id="login-navi" href="/login">로그인</a>
        <a id="join-navi" href="/join">회원가입</a>
        <a id="mypage">마이페이지</a>
        <a href="/contact">FAQ</a>

    </nav>
    <div id="bodyheader">
        <div id="mainHeaderbar">
            <img src="../img/static/DB_LOGO.gif" id="logo">
            <div id="searchbar"><input type="text" placeholder="   제품을 검색하세요."><img  id="searchicon"src="../img/static/searchicon.png"></div>
            <img src="../img/static/shoppingcart.png" id="scart" onclick="javascript:location.href='/shopping-list'">
        </div>
    </div>

    <hr>

    <div id="main">
        <div id="Noticebar"><mark>공지사항</mark>
            <input id="faqkeyword"type="text" placeholder="제목을 입력해주세요">
            <i class="fa-brands fa-sistrix" id="search"onclick="search()"></i>
            <div id="mailingservice">
                <i class="fa-regular fa-envelope"></i>
                메일로 문의하기</div>
        </div>
        <div th:replace="fragments/part/pager.html :: fragment-pager"></div>
        <table id = "content" max="16">
            <tr id="table_header">
                <th id="tdate"> 작성 날짜 </th>
                <th id="ttitle"> 제 목 </th>
            </tr>




        </table>


    </div>
    <div id="footer">
        <img src="../img/static/footer.png">
    </div>
</div>

<div th:replace="fragments/part/side_bar.html :: fragment-sideBar"></div>

</body>
</html>