<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.css">
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
        h1{
            color: white;
        }
        a{
            color: white;
        }
        li{
            color: white;
        }

        </style>

</head>


</html>