body{
    position: relative;
    margin-left:90px;
    height:1200px;
    overflow: scroll;
}
#bodyheader{
    width:1200px;
    padding-top:40px;
}
#mainHeaderbar{
    padding-left:200px;
    height:100px;
    display:flex;
    margin-top: 30px;
    margin-left:30px;

}
#navi-bar{
    position: absolute;
    right:475px;
    top:0;
    float:right;
    display: flex;
    height:20px;
    justify-content: end;
}
#navi-bar a{
    font-size:10px;
    margin-left:3px;
    margin-right:3px;
    top:5px;
    color:black;
    text-decoration-line: none;
    white-space : nowrap;

}

#logo{
    padding-left:120px;
    width: 200px;
    height:70px;
    margin-right:10px;

}
#logo:hover{
    cursor: pointer;
}

#searchbar{
    position: relative;
    width:600px;
    height:52px;
}

#bodyheader input{
    position: absolute;
    width:560px;
    height:45px;
    margin-top:10px;
    margin-left:30px;
    border: 2px solid skyblue;
    border-radius: 40px 40px;
    padding-inline-start: 25px;
}
#searchicon{
    position: absolute;
    left:555px;
    top:19px;
}
#searchicon:hover{
    cursor: pointer;
}



#side_Bar{
    position: fixed;
    left:1440px;
    width:60px;
    height:350px;
    background-color:white ;
}
#side_Bar div img{
    cursor: pointer;
    width:60px;
    height:70px;
}
#side_Bar div img:hover{
    filter:opacity(0.7) drop-shadow(0 0 0 #87cefa);
}
#cursor{

    cursor:pointer;
    width: 5px;
    height:5px;
    position: absolute;
    left:1135px;
    top:90px;
    color:white;
}
#bodyheader span img{
    background-color: white;

}
#scart{
    width: 32px;
    height:32px;
    position: absolute;
    top:90px;
    left: 1200px;
    cursor: pointer;
}
hr{
    width:1010px;
    position:absolute;
    left:320px;
    border: 1px solid black;
}
#footer{
    position:fixed;
    bottom:0px;
    left:400px;

}
#footer img{
    width:1010px;
}
#main{
    position: absolute;
    left:320px;
    width:1010px;
    margin-top:20px;
}
#MailService{
    width:1010px;
    height:120px;
    background-color: #A0D8EF;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
}

#MailService mark{
    background-color:#A0D8EF;
    color:black;
    margin-left:55px;
    margin-right:80px;

}
#MailService i{
    font-weight: bold;
}

#form{
    margin-top:10px;
    width:950px;
    height:100%;
    background-color: #FCF4D9;
    border-radius: 10px;
    padding:30px;
    font-weight: bold;
}
#title{
    width:948px;
    height:30px;
}
#content{
    width:948px;
    height:300px;
    resize: none;
}
#name{
    height: 25px;
}
#phonenum{
    width:100%;
    height:25px;
}
#phonenum input{
    height: 25px;
}
#phone1{
    width:60px;
    text-align: center;
}
#phone2{
    width:80px;
    text-align: center;
}
#phone3{
    width:80px;
    text-align: center;
}