@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Dodum&family=Jua&family=Nanum+Gothic&display=swap');

body{
    width:100%;
    position: relative;
    margin:0 auto;

    height:1200px;
    overflow: scroll;
}
#wrap{
    position:absolute;
    left:50%;
    margin-left:5%;
    height:100%;
    transform: translate(-50%);
    overflow: auto;
}
#bodyheader{
    width:1200px;
    padding-top:40px;
}
#mainHeaderbar{

    height:100px;
    display:flex;
    margin-top: 30px;
    margin-left:30px;

}
#navi-bar{
    position:absolute;
    right:250px;
    top:0;
    display: flex;
    height:20px;



}
#navi-bar a{
    font-size:10px;
    margin-left:3px;
    margin-right:3px;
    top:5px;
    color:black;
    text-decoration-line: none;
    white-space : nowrap;

}

#logo{
    /*padding-left:120px;

     */
    width: 200px;
    height:70px;
    margin-right:10px;

}
#logo:hover{
    cursor: pointer;
}

#searchbar{
    position: relative;
    width:600px;
    height:52px;
}

#bodyheader input{
    position: absolute;
    width:560px;
    height:45px;
    margin-top:10px;
    /*

     */
    border: 2px solid skyblue;
    border-radius: 40px 40px;
    padding-inline-start: 25px;
}
#searchicon{
    position: absolute;
    left:530px;
    top:19px;
}
#searchicon:hover{
    cursor: pointer;
}



#side_Bar{
    left:1000px;
    position: fixed;
    width:60px;
    height:500px;
    Top:200px;
    background-color:white ;

}
#side_Bar div img{
    left:850px;
    cursor: pointer;
    width:60px;
    height:70px;
}
#side_Bar div img:hover{
    filter:opacity(0.7) drop-shadow(0 0 0 #87cefa);
}

#bodyheader span img{
    background-color: white;

}
#scart{
    left:860px;
    width: 32px;
    height:32px;
    position: absolute;
    top:90px;
    cursor: pointer;
}
hr{
    width:940px;
    position:absolute;

    border: 1px solid black;
}


#shoplist{
    position:absolute;

    top:300px;
    width:900px;
    height:800px;
    list-style: none;
    margin:0px;
    padding:0px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;

}
#shoplist li{
    cursor:pointer;
    margin-top:0;
    width:200px;
    height:250px;
    margin-left:12.5px;
    margin-right:12.5px;
    margin-bottom: 10px;
    border-bottom-left: soild 1px red;
}
li #item_img{
    position: relative;

    width:150px;
    height:150px;
    top:15px;

}
li #merchansub{
    font-size: 10px;
}

li #item_img img{


    top:25px;
    width:150px;
    height:150px;
    border-radius: 50px;
}
#item_text{
    position: relative;
    margin-top : 20px;

    width:200px;
    height:90px;
    text-align: left;
}
#item_name{
    font-weight: bold;
}
#item_price {
    color:red;
    font-weight: bold;
}


#footer{
    position:fixed;
    bottom:0px;



}


#footer img{
    width:950px;
}






.back_button{
    position:absolute;
    list-style: none;
    margin:20px;
    padding:0px;
    width: 40px;
    height: 40px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.product_outer_container{
    position:absolute;
    top: 200px;
    width: 1000px;
    height: 600px;
    font-family: 'Nanum Gothic', sans-serif;
}

.product_inner_container{
    overflow: hidden;
    position:absolute;
    margin-top: 50px;
    width: 900px;
    height: 550px;
    box-shadow: 0px 0px 5px #000;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
}

.product_image_container{
    position:absolute;
    top: 50px;
    width: 375px;
    height: 380px;
    list-style: none;
    margin-left:20px;
    padding:0px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.product_info_container{
    position:absolute;
    top: 50px;
    width: 400px;
    height: 420px;
    list-style: none;
    margin:10px;
    padding:0px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: rgb(255, 255, 255);
}

.product_info_inner_container{
    top: 50px;
    position:absolute;
    width: 360px;
    height: 320px;
    list-style: none;
    margin:20px;
    padding:0px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: rgb(245, 245, 245);
}

.product_info_name{
    margin-left: 20px;
    width: 400px;
    font-family: 'Gowun Dodum', sans-serif;
}

.product_info{
    margin-left: 20px;
    margin-top: 15px;
    width: 400px;
}

.index_arrow{
    width: 15px;
    height: 10px;
}

.product_info_left{
    width: 40%;
    float: left;
    font-size: 0.8em;
}
.product_info_right{
    width: 60%;
    float: right;
    font-size: 0.9em;
}

.div_leftRight{
    margin: 20px;
    width:100%;
}
#btn_cart{
    width:45%;
    height: 50px;
    float:left;
    border-radius: 30px;
    border: 2px solid rgba(33, 36, 37, .6);
    background-color: #fff;
}
#btn_buy{
    width:45%;
    height: 50px;
    float:right;
    border-radius: 30px;
    color:#fff;
    border: 2px solid rgba(33, 36, 37, .6);
    background-color: #212425;
}

.product_details{
    position:absolute;
    margin: 20px;
    top: 620px;
    width: 850px;
}

.details_category{
    width: 150px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid rgba(33, 36, 37, .6);
    background-color: #fff;
}

.details_category:hover{
    width: 150px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid rgba(33, 36, 37, .6);
    background-color: #212425;
    color: #fff;
}

.product_details_content{
    display: none;
}
.product_outer_container{
    position:absolute;
    top: 200px;
    width: 1000px;
    height: 600px;
    font-family: 'Nanum Gothic', sans-serif;
}