body{
    width:1500px;
    position: relative;
    margin:0 auto;

    height:1200px;
    overflow: scroll;
}
#wrap{
    position:absolute;
    margin-left:5%;
    left:50%;
    height:100%;
    transform: translate(-50%);
    overflow: revert;
}
#bodyheader{
    width:1200px;
    padding-top:40px;
}
#mainHeaderbar{

    height:100px;
    display:flex;
    margin-top: 30px;
    margin-left:30px;

}
#navi-bar{
    margin-top:5px;
    position:absolute;
    right:250px;
    top:0;
    display: flex;
    height:20px;



}
#navi-bar a{
    font-size:10px;
    margin-left:3px;
    margin-right:3px;
    top:5px;
    color:black;
    text-decoration-line: none;
    white-space : nowrap;

}

#logo{
    /*padding-left:120px;

     */
    width: 200px;
    height:70px;
    margin-right:10px;

}
#logo:hover{
    cursor: pointer;
}

#searchbar{
    position: relative;
    width:600px;
    height:52px;
}

#bodyheader input{
    position: absolute;
    width:560px;
    height:45px;
    margin-top:10px;
    /*

     */
    border: 2px solid skyblue;
    border-radius: 40px 40px;
    padding-inline-start: 25px;
}
#searchicon{
    position: absolute;
    left:530px;
    top:19px;
}
#searchicon:hover{
    cursor: pointer;
}



#side_Bar{
    margin-left:1200px;
    position: fixed;
    width:60px;
    height:500px;
    Top:200px;
    background-color:white ;


}
#side_Bar div img{
    left:850px;
    cursor: pointer;
    width:60px;
    height:70px;
}
#side_Bar div img:hover{
    filter:opacity(0.7) drop-shadow(0 0 0 #87cefa);
}

#bodyheader span img{
    background-color: white;

}
#scart{
    left:860px;
    width: 32px;
    height:32px;
    position: absolute;
    top:90px;
    cursor: pointer;
}
hr{
    width:940px;
    position:absolute;

    border: 1px solid black;
}


#shoplist{
    position:absolute;

    top:300px;
    width:900px;
    height:800px;
    list-style: none;
    margin:0px;
    padding:0px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;

}
#shoplist li{
    cursor:pointer;
    margin-top:0;
    width:200px;
    height:250px;
    margin-left:12.5px;
    margin-right:12.5px;
    margin-bottom: 10px;
    border-bottom-left: soild 1px red;
}
li #item_img{
    position: relative;

    width:150px;
    height:150px;
    top:15px;

}
li #merchansub{
    font-size: 10px;
}

li #item_img img{


    top:25px;
    width:150px;
    height:150px;
    border-radius: 50px;
}
#item_text{
    position: relative;
    margin-top : 20px;

    width:200px;
    height:90px;
    text-align: left;
}
#item_name{
    font-weight: bold;
}
#item_price {
    color:red;
    font-weight: bold;
}


#footer{
    position:fixed;
    bottom:0px;



}


#footer img{
    width:950px;
}

#main{
    width: 900px;
    border: 5px solid lightgray;
    margin-top: 20px;
    margin-left: 25px;
    border-radius: 10px;
    font-weight:bold;
}
#main h1{
    margin-top: 30px;
    margin-left: 40px;
}
.mainhr{
    width:880px;
    margin-left:8px;
    background-color: lightgray;
    height: 3px;
    border: 0px;

}
#main_body{
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 40px;
    border: 3px solid gray;
    width: 820px;
}
#part1{
    padding:20px;
    margin-left:30px;
}
.component{
    margin:5px;
    margin-bottom:15px;
    width:100%;
}
.component strong{
    color:red;
}
.component input{
    width: 90%;
    height:30px;
    margin-top:5px;
    font-size:15px;
}
#tel input{
    height: 20px;
}
#tel mark{
    font-size:11px;
    font-weight: lighter;
    background-color: white;
}
#email-identify {
    width: 20%;
    margin-top:5px;
    border: 2px solid gray;
    height: 82px;
    margin-left:20px;
    border-radius: 10px;
    cursor: pointer;
}
#email-identify:hover{
    color:white;
    background-color: gray;
}
#emailpart input{
    width:95%;
}
#emailpart{
    display: flex;
    flex-direction: column;
    width:68%;
}
#email-wrap{
    display:flex;
    flex-direction: row;
    width:100%
}

#phonenum{
    width:100%;
    height:25px;
}
#phonenum input{
    height: 25px;
}
#phone1{
    width:60px;
    text-align: center;
}
#phone2{
    width:80px;
    text-align: center;
}
#phone3{
    width:80px;
    text-align: center;
}

#addressapi{
    margin:5px;
}
#addressapi strong{
    color: red;
}
#submit{
    height:35px;
    border:2px solid gray;
    cursor:pointer;
}


#postcode{
    height: 30px;
    margin-top: 5px;

}
#address{
    height: 30px;
    margin-top: 5px;
    width:60%;
}
#detailAddress{
    height: 30px;
    margin-top: 5px;
    width:30%;
}
#extraAddress{
    height: 30px;
    margin-top: 5px;
    width:40%;
}
#purpose{
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 40px;
    border: 3px solid gray;
    width: 820px;
    text-align: center;
    height:50px;
    line-height:50px ;
    font-size:24px;
    margin-bottom: 10px;
}
#purpose:hover{
    background-color: black;
    color:white;
    cursor:pointer;
}
#user_terms{
    margin-top: 5px;
    border-radius: 10px;
    border: 3px solid gray;
    width: 780px;
    margin-left: 40px;
    margin-bottom: 5px;
    padding:20px;
}
.title{
    font-size:25px;

}

.termsbox{
    margin-left:30px;
    display:flex;
}
.terms{
    width:670px;
}
.detail{
    display: flex;
    justify-content: end;
    color:lightgray;
    cursor:pointer;
}
.termsbox strong{

}
