*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: inherit;
}
li{
	list-style: none;
}
html{
	font-size: 16px;
}

.form-container{
	text-align: center;
	width: 500px;
	margin: 0 auto;
}

.login-form{
	width: 320px;
	display: inline-block;
	padding: 0 auto;
}


/* Header */
.login_header{
	padding-top: 100px;
}

#db_logo{
	width: 225px;
	cursor: pointer;
}


/* Account */
.account{
	padding-top: 40px;
}

.account-section{
	
}

.account-item{
	border: 1px #ccc solid;
	border-radius: 5px 5px 0 0;
	overflow:hidden;
}

.account-item:not(:only-child):first-child {
    border-radius: 4px 4px 0 0;
}

.account-item:not(:only-child):not(:first-child) {
    border-top: 0;
}


.account-item:not(:only-child):last-child {
    border-radius: 0 0 4px 4px;
}

.account-item:focus{
	border-color: lightskyblue;
}

input{
	width: 100%;
	line-height: 3em;
	font-size: 15px;
	padding: 0 16px;
	border: none;
}

input:focus{
	outline-color: lightskyblue;
}


/* Login Button */
.btn-login{
	padding-top: 20px;
}

.form_submit_button{
	width: 100%;
	line-height: 3em;
	background-color: lightskyblue;
	border: none;
	border-radius: 4px;
	font-size: 17px;
	color: white;
	font-weight: bold;
	cursor: pointer;
}
.form_submit_button:hover{
	background-color: royalblue;
}

/* Finid */
.find-list{
	display: flex;
	justify-content: center;
	font-size: 14px;
	padding-top: 10px;
	align-content: center;
}

.find-list li a:after{
	content:'|';
	margin: 0 15px;
	color: #ccc;
}

#join-navi:after{
	content: none;
}

.find-list li:hover{
	color: #ccc;
}

/* Social */
.social_type{
	padding-top: 30px;
}

#kakaoicon{
	width: 50px;
	border-radius: 50%;
	cursor: pointer;
}

@media(max-width: 500px){
	.form-container{
		width: 340px;
	}
}