.main_container{
    border: 0px solid;
}

.logo{
    width: 300px;
    height: 100px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
}

.join_container{
    width: 380px;
    height: 400px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 25px #000;
}

.form_container{
    width: 300px;
    margin: auto;
}

.form_title_div{
    margin: auto;
    text-align: center;
}

.form_title_p{
    font-weight: bold;
    font-size: 22px;
    display: inline-block;
    padding-top: 8px;
}

.form_input{
    width: 98%;
    height: 30px;
    border: 1px solid;
    border-radius: 3px;
    border-color: gray;
}

.form_item_name{
    color: gray;
}

.form_text_alert{
    height: 20px;
}

.form_text_alert_padding{
    padding-bottom: 10px;
}

.form_submit_button{
    width: 100%;
    height: 44px;
    background-color: rgb(135, 206, 235);
    border: 3px solid;
    border-radius: 3px;
    border-color: gray;
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-bold: true;
}
.oauth{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.oauth img{
    width:60px;
    height:60px;
    margin:10px;
    cursor: pointer;
    border:1px solid black;
    border-radius: 10px;


}