* {
    position: relative;
    margin: 0;
    padding: 0;
}
/* ul li태그에 리스트 스타일을 없앰 */
ul li{
    list-style: none;
}
/* a태그에 텍스트 밑줄을 없애고 색상을 #333 */
a {
    text-decoration: none;
    color:#333;
}

body > div{
    text-align: center;
    justify-content: center;
}
#menu {
    font-size: 16px;
    font-family: 'Jua',sans-serif;
    width:710px;
    height:50px;
    background: skyblue;
    color:black;
    line-height: 50px; 
    margin:0 auto;
    text-align: center;
    border: 1px solid black;
}

/* menu태그 자식의 ul의 자식 li를 왼쪽정렬과 넓이 140설정 */
#menu > ul > li {
    float:left;
    width:140px;
    position:relative;
    border: 1px solid black;
    cursor: pointer;
}

#title{
    font-family: 'Jua';
    font-size:30px;
    margin-bottom: 10px;
}