body{
    width:1500px;
    position: relative;
    margin:0 auto;

    height:1200px;
    overflow: scroll;
}
#wrap{
    overflow: revert;
    position:absolute;
    left:50%;
    margin-left:5%;
    height:auto;
    min-height: 120%;
    transform: translate(-50%);

}

#bodyheader{
    width:1200px;
    padding-top:40px;
}
#mainHeaderbar{

    height:100px;
    display:flex;
    margin-top: 30px;
    margin-left:30px;

}
#navi-bar{
    margin-top:5px;
    position:absolute;
    right:250px;
    top:0;
    display: flex;
    height:20px;



}
#navi-bar a{
    font-size:10px;
    margin-left:3px;
    margin-right:3px;
    top:5px;
    color:black;
    text-decoration-line: none;
    white-space : nowrap;

}

#logo{
    /*padding-left:120px;

     */
    width: 200px;
    height:70px;
    margin-right:10px;

}
#logo:hover{
    cursor: pointer;
}

#searchbar{
    position: relative;
    width:600px;
    height:52px;
}

#bodyheader input{
    position: absolute;
    width:560px;
    height:45px;
    margin-top:10px;
    /*

     */
    border: 2px solid skyblue;
    border-radius: 40px 40px;
    padding-inline-start: 25px;
}
#searchicon{
    position: absolute;
    left:530px;
    top:19px;
}
#searchicon:hover{
    cursor: pointer;
}


#side_Bar{
    margin-left:1000px;
    position: sticky;
    width:60px;
    height:500px;
    Top:200px;
    background-color:white ;

}
#side_Bar div img{
    left:850px;
    cursor: pointer;
    width:60px;
    height:70px;
}
#side_Bar div img:hover{
    filter:opacity(0.7) drop-shadow(0 0 0 #87cefa);
}

#bodyheader span img{
    background-color: white;

}
#scart{
    left:860px;
    width: 32px;
    height:32px;
    position: absolute;
    top:90px;
    cursor: pointer;
}
hr{
    width:940px;
    position:absolute;

    border: 1px solid black;
}


#shoplist{
    position:absolute;

    top:300px;
    width:900px;
    height:800px;
    list-style: none;
    margin:0px;
    padding:0px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;

}
#shoplist li{
    cursor:pointer;
    margin-top:0;
    width:200px;
    height:250px;
    margin-left:12.5px;
    margin-right:12.5px;
    margin-bottom: 10px;
    border-bottom-left: soild 1px red;
}
li #item_img{
    position: relative;

    width:150px;
    height:150px;
    top:15px;

}
li #merchansub{
    font-size: 10px;
}

li #item_img img{
    top:25px;
    width:150px;
    height:150px;
    border-radius: 50px;
}
#item_text{
    position: relative;
    margin-top : 20px;

    width:200px;
    height:90px;
    text-align: left;
}
#item_name{
    font-weight: bold;
}
#item_price {
    color:red;
    font-weight: bold;
}


#footer{
    position:fixed;
    bottom:0px;
}

#footer img{
    width:950px;
}

#mypage_title_container{
    position:absolute;
    margin-left: 40px;
    background-color: #fff;
    border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    width: 250px;
    height: 53px;
    top: 200px;
    border-top: 3px solid #212425;
    border-left: 3px solid #212425;
    border-right: 3px solid #212425;
    border-bottom: 5px solid #fff;
    z-index: 2;
}

#mypage_title_container2{
    position:absolute;
    margin-left: 300px;
    background-color: #fff;
    border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    width: 250px;
    height: 53px;
    top: 200px;
    border-top: 3px solid #212425;
    border-left: 3px solid #212425;
    border-right: 3px solid #212425;
    border-bottom: 5px solid #fff;
    z-index: 0;
}

.mypage_title_inner{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 25px;
    position: relative;
    text-align: center;
    color: rgb(50,50,50);
    top: 40%;
    transform: translateY(-50%);
}

.mypage_details_div_leftRight{
    margin-top: 12px;
    margin-bottom: 7px;
    margin-left: 60px;
    width: 100%;
    height: 45px;
}

.mypage_container{
    overflow: hidden;
    position:absolute;
    top: 250px;
    margin-left: 20px;
    width: 900px;
    height: 700px;
    border-radius: 10px;
    border: 3px solid;
    border-color: #212425;
    background-color: #fff;
    z-index: 1;
}
.mypage_container2{
    overflow: scroll;
    position:absolute;
    top: 250px;
    margin-left: 20px;
    width: 900px;
    height: 700px;
    border-radius: 10px;
    border: 3px solid;
    border-color: #212425;
    background-color: #fff;
    z-index: 1;
}

.separation{
    position: relative;
    left: 50%;
    transform: translateX(-67%);
    width: 580px;
    height: 3px;
    background-color: #212425;
    margin: 0px;
}

.mypage_details_left_outer{
    width: 25%;
    height: 35px;
    background-color: rgb(245,245,245);
    border-radius: 10px;
    float: left;
    border: 1px solid #212425;
}
.mypage_details_inner{
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.mypage_details_right_outer{
    margin-left: 40px;
    width: 35%;
    height: 35px;
    background-color: #fff;
    border: 1px solid #212425;
    border-radius: 10px;
    float: left;
}

input:-webkit-autofill {
   -webkit-box-shadow: 0 0 0 1000px white inset;
}
.userinfoChange{
    border: none;
    position: relative;
    text-align: center;
    height: 22px;
    width: 240px;
    font-size: 15px;
}


.mypage_details_change{
    margin-left: 40px;
    width: 15%;
    height: 36px;
    background-color: rgb(235,235,235);
    float: left;
    border: 2px solid #212425;
    text-align: center;
    top: 50%;
}

#submit_button{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    font-size: 25px;
    height: 60px;
    width: 700px;
    border-radius: 20px;
    border: 2px solid #212425;
    background-color: #fff;
}
#submit_button:hover{
    background-color: #212425;
    color: #fff;
    font-weight:bold;
}

#order_inner{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.mer_img{
    width:130px;
}
#main_body{
    font-weight: lighter;
}

.name{
    width:380px;
}
.mer_img img{
    width:80px;
    height:80px;
}
.component{
    height:120px;
    overflow: hidden;
}
#shoppinglist{
    width:100%;
    margin-top:35px;

}
.component td{
    text-align: center;
    vertical-align: middle;
}

.confirm_btn{
    margin-left: 120px;
    width: 250px;
    height:30px;
    border-radius: 10px;
    border: 2px solid #212425;
    background-color: #fff;
}
.cancel_btn{
    width: 150px;
    height:30px;
    border-radius: 10px;
    border: 2px solid #212425;
    background-color: #fff;
}
.order_separation{
    position: relative;
    left: 50%;
    transform: translateX(-67%);
    width: 580px;
    height: 3px;
    background-color: #212425;
    margin: 0px;
}
#total{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height:102px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
}
.totalbt{
    border-radius: 10px;
    background-color: lightgray;
    cursor: pointer;
    margin:10px;
    height: 30px;
    width:100px;
    line-height: 30px;
    text-align: center;
    background-color: lightskyblue;
    color: black;
}
#totalprice{
    width:250px;
}
.totalbt:hover{
    background-color: black;
    color: white;
}

#totalprice{
    width: 100%;
    line-height: 50px;
    justify-content: end;
    display: flex;
    margin-right: 20px;
    border-bottom: 2px solid lightgray;
}
#totalprice strong{
    color:red;
    font-size:25px;
}
#btn_side{
    margin-top:5px;
    width:100%;
    height:50px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
#total hr{
    color: lightgray;
    size:2px;
}