body{
    width:100%;
    position: relative;
    margin:0 auto;

    height:1200px;
    overflow: scroll;
}
#wrap{
    position:absolute;
    left:50%;
    margin-left:5%;
    height:auto;
    min-height: 120%;
    transform: translate(-50%);
    overflow: auto;
}

#bodyheader{
    width:1200px;
    padding-top:40px;
}
#mainHeaderbar{

    height:100px;
    display:flex;
    margin-top: 30px;
    margin-left:30px;

}
#navi-bar{
    margin-top:5px;
    position:absolute;
    right:250px;
    top:0;
    display: flex;
    height:20px;



}
#navi-bar a{
    font-size:10px;
    margin-left:3px;
    margin-right:3px;
    top:5px;
    color:black;
    text-decoration-line: none;
    white-space : nowrap;

}

#logo{
    /*padding-left:120px;

     */
    width: 200px;
    height:70px;
    margin-right:10px;

}
#logo:hover{
    cursor: pointer;
}

#searchbar{
    position: relative;
    width:600px;
    height:52px;
}

#bodyheader input{
    position: absolute;
    width:560px;
    height:45px;
    margin-top:10px;
    /*

     */
    border: 2px solid skyblue;
    border-radius: 40px 40px;
    padding-inline-start: 25px;
}
#searchicon{
    position: absolute;
    left:530px;
    top:19px;
}
#searchicon:hover{
    cursor: pointer;
}


#side_Bar{
    left:1000px;
    position: fixed;
    width:60px;
    height:500px;
    Top:200px;
    background-color:white ;

}
#side_Bar div img{
    left:850px;
    cursor: pointer;
    width:60px;
    height:70px;
}
#side_Bar div img:hover{
    filter:opacity(0.7) drop-shadow(0 0 0 #87cefa);
}

#bodyheader span img{
    background-color: white;

}
#scart{
    left:860px;
    width: 32px;
    height:32px;
    position: absolute;
    top:90px;
    cursor: pointer;
}
hr{
    width:940px;
    position:absolute;

    border: 1px solid black;
}


#shoplist{
    position:absolute;

    top:300px;
    width:900px;
    height:800px;
    list-style: none;
    margin:0px;
    padding:0px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;

}
#shoplist li{
    cursor:pointer;
    margin-top:0;
    width:200px;
    height:250px;
    margin-left:12.5px;
    margin-right:12.5px;
    margin-bottom: 10px;
    border-bottom-left: soild 1px red;
}
li #item_img{
    position: relative;

    width:150px;
    height:150px;
    top:15px;

}
li #merchansub{
    font-size: 10px;
}

li #item_img img{
    top:25px;
    width:150px;
    height:150px;
    border-radius: 50px;
}
#item_text{
    position: relative;
    margin-top : 20px;

    width:200px;
    height:90px;
    text-align: left;
}
#item_name{
    font-weight: bold;
}
#item_price {
    color:red;
    font-weight: bold;
}


#footer{
    position:fixed;
    bottom:0px;
}

#footer img{
    width:950px;
}

#mypage_title_container{
    position:absolute;
    margin-left: 40px;
    background-color: rgb(235,235,235);
    border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    width: 250px;
    height: 50px;
    top: 200px;
}

#mypage_title{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 25px;
    position: relative;
    text-align: center;
    color: rgb(50,50,50);
    top: 50%;
    transform: translateY(-50%);
}

.mypage_details_div_leftRight{
    margin: 20px;
    width: 100%;
    height: 45px;
}

.mypage_container{
    font-family: 'Nanum Gothic', sans-serif;
    overflow: hidden;
    position:absolute;
    top: 250px;
    margin-left: 20px;
    width: 900px;
    height: 550px;
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
}

.separation{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 860px;
    height: 5px;
    background-color: #fff;
    margin: 0px;
}

.mypage_details_left_outer{
    width: 25%;
    height: 45px;
    background-color: #fff;
    border-radius: 10px;
    float: left;
}
.mypage_details_inner{
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.mypage_details_right_outer{
    margin-left: 40px;
    width: 55%;
    height: 45px;
    background-color: #fff;
    border-radius: 10px;
    float: left;
}
