body{
    text-align: center;
    margin-top: 30px;
}
form{
    height:500px;
}
form input{
    height:20px;
    margin-bottom: 10px;
}
form select{
    margin-bottom: 30px;
}
button{
    width:100px;
}