body{
    width:100%;
    height: 100%;
    overflow: scroll;


}
#itemlist{
    border:1px solid black;
    font-size: 15px;
    list-style: none;
    width:1320px;
    text-align: center;

}
th,td{
    border:1px solid black;
}
.itemimg{
    width:89px;
    height:89px;
}

.item_id{
    width:120px;
    height:89px;
}
.itemname{
    width:120px;
    height:89px;
}
.item_desc{
    width:400px;
    height:89px;
}
.item_price{
    width:120px;
    height:89px;
}
.itemtype{
    width:85px;
    height:89px;
}
.item_stock{
    width:90px;
    height:89px;
}
.madecomp{
    width:120px;
    height:89px;
}
.item_madein{
    width:100px;
    height:89px;
}
.item_weight{
    width:80px;
    height:89px;
}
.replace{
    width:50px;
    height:89px;
}
.done{
    width:50px;
    height:89px;
}
.delete{
    width:50px;
    height:89px;
}
/*
#itemlist li{
    width:1320px;
}
#nav{
    border-top:1px solid black;
    border-left:1px solid black;
}
#nav a{
    text-align: center;
    display:inline-block;
    width:120px;
    height:20px;
    border-bottom: 1px solid black;
    border-right:1px solid black;



}
#nav i{
    display: inline-block;
    text-align: center;
    width:50px;
    height:20px;
    border-bottom: 1px solid black;
    border-right:1px solid black;
}
.itemimg_src{
    width:89px;
    height: 89px;
}
#element{
    line-height: 58px;
    height:122px;
    overflow: hidden;
}
#element a{

    text-align: center;
    display:inline-block;

    width:120px;
    height:120px;
    border-bottom: 1px solid black;
    border-right:1px solid black;
    overflow: hidden;
}
#element button{
    width:45px;
    overflow: hidden;

}

 */