body{
    position: relative;
    height:100%;
    overflow: scroll;
}
#bodyheader{
    width:1200px;
    padding-top:40px;
}
#mainHeaderbar{
    padding-left:200px;
    height:100px;
    display:flex;
    margin-top: 30px;
    margin-left:30px;

}
#navi-bar{
    top:0;
    left:0;
    display: flex;
    justify-content: end;
    width:100%;
    height:20px;
    position:absolute;


}
#navi-bar a{
    font-size:10px;
    top:5px;
    position:absolute;
    color:black;
    text-decoration-line: none;
    white-space : nowrap;

}

#logo{
    padding-left:120px;
    width: 200px;
    height:70px;
    margin-right:10px;

}
#logo:hover{
    cursor: pointer;
}

#searchbar{
    position: relative;
    width:600px;
    height:52px;
}

#bodyheader input{
    position: absolute;
    width:560px;
    height:45px;
    margin-top:10px;
    margin-left:30px;
    border: 2px solid skyblue;
    border-radius: 40px 40px;
    padding-inline-start: 25px;
}
#searchicon{
    position: absolute;
    left:555px;
    top:19px;
}
#searchicon:hover{
    cursor: pointer;
}



#side_Bar{
    position: fixed;
    left:1350px;
    width:60px;
    height:350px;
    background-color:white ;
}
#side_Bar div img{
    cursor: pointer;
    width:60px;
    height:70px;
}
#side_Bar div img:hover{
    filter:opacity(0.7) drop-shadow(0 0 0 #87cefa);
}
#cursor{

    cursor:pointer;
    width: 5px;
    height:5px;
    position: absolute;
    left:1135px;
    top:90px;
    color:white;
}
#bodyheader span img{
    background-color: white;

}
#scart{
    width: 32px;
    height:32px;
    position: absolute;
    top:90px;
    left: 1200px;
    cursor: pointer;
}
hr{
    width:1010px;
    position:absolute;
    left:320px;
    border: 1px solid black;
}
#footer{
    position:fixed;
    bottom:0px;
    left:350px;

}
#footer img{
    width:900px;
}
#main{
    position: absolute;
    left:320px;
    width:1010px;
    margin-top:20px;
}
#Noticebar{
    width:1010px;
    height:120px;
    background-color: #A0D8EF;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
}

#Noticebar mark{
    background-color:#A0D8EF;
    color:black;
    margin-left:100px;
    margin-right:80px;
}
#Noticebar input{
    width:350px;
    height:38px;
    border-right: 0px white;
    border-bottom: 2px solid black;
}
#Noticebar #search{
    background-color: white;
    border: 2px solid black;
    border-left:0px white;


}
#Noticebar #search:hover{
    background-color: black;
    color: white;
    border-radius: 5px;

}

#mailingservice{
    height:50px;
    margin-left:25px;
    width:200px;
    font-size: 20px;
    background-color: #406Cb3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#mailingservice:hover{
    background-color: black;
    color:white;
}
#mailingservice i{
    margin-right:5px;
}
#content{
    display: flex;
    flex-direction: column;
    margin-top:20px;
    border: 3px solid gray;
    border-radius: 10px;
    height: 100%;
}

.partition{
    width:1010px;
    display: flex;
    align-items: center;



}

#content summary{
    width:770px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left:110px;
    height:30px;
    border-bottom: 1px solid gray;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
}
#content p{
    text-indent: 10px;
    padding-right: 15px;
    padding-left: 15px;
    width:760px;
    border:1px solid black;
    margin-left:110px;
    line-height: 30px;
    font-weight: bold;
}
