<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<div th:replace="/fragments/header.html :: header"></div>

	</head>
<body>
<hr style="border: solid 5px black">
	<div th:replace="fragments/bodyheader.html :: bodyheader"/>

	<hr style="border: solid 3px black">
	<div class="container-fluid row"style="outline-color: black">
		<div class="col-sm-4 text-center"style="float: none;margin: 0 auto;">
			<label for="SearchByDataList" class="col-form-label-lg pt-lg-5"style="font-family: 'Jua';font-size: xx-large">제품 검색</label>
			<form class="d-flex">
				<input class="form-control" list="CategoryListOptions" id="SearchByDataList" placeholder="제품 이름 혹은 제품군을 검색하세요">
				<datalist id="CategoryListOptions">
					<option value="test">
				</datalist>
				<button class="btn btn-primary" type="submit" style="background-color: #0dcaf0;font-family: 'Jua';width:100px;height: 50px">검 색</button>
			</form>

		</div>

	</div>
	<hr style="border: solid 3px black">
	<row>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					<div class="card" style="width: 100%" th:each="item: ${items}">
						<img th:src="${item.imgSrc}" class="card-img-top" alt="">
						<!--<img src="img/LeakDetector.jpg" class="card-img-top" alt=""> -->
						<div class="card-body">
							<h5 class="product_Name"th:text="${item.name}">hello</h5>
							<p class="card-text" th:text="${item.price}+원"></p>
							<p class="card-text" th:text="${item.description}">description</p>
							<a href="#" class="btn btn-primary">바로가기</a>
						</div>

					</div>




				</div>


			</div>
		</div>

	</row>

	<row class="container pt-lg-5">
		<nav aria-label="Content-List">
			<ul class="pagination justify-content-center">
				<li class="page-item"><a class="page-link" href="#">1</a> </li>
				<li class="page-item"><a class="page-link" href="#">2</a> </li>
				<li class="page-item"><a class="page-link" href="#">3</a> </li>
			</ul>
		</nav>
	</row>


</body>
</html>